#login-box{
    margin: 20px auto;
    border-radius: 5px;
    min-width: 300px;
    max-width: 400px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.300);
}

.row{
    width: 100%;
    margin: 10px auto;
    justify-content: center;
}

.center{
    text-align: center;
}

.center-row{
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

h1{
    padding: 30px 0px;
    font-size: 3em;
    text-align: center;
    color: var(--title-color);
    width: 100%;

}

.decoration{
    padding-bottom: 20px;
    margin: 0px 7.5%;
    font-size: 2em;
    font-weight: 700;
    text-align: right;
    color: var(--title-color);
}

.forgot{
    display: block;
    margin: 0px 7.5%;
    font-weight: 700;
    text-align: right;
    color: var(--title-color);
}

.forgot:hover{
    color: var(--border-color);
    cursor: pointer;
    text-decoration: underline;
}

label{
    text-indent: 32px;
    display: block;
    text-align: left;
    width: 85%;
    font-weight: 700;
    color: var(--title-color);
}

input{
    border: 1px solid var(--border-color);
    border-radius: 3px;
    text-align: left;
    font-size: 1em;
    text-indent: 5px;
    width: 85%;
    height: 40px;
    color: var(--font-color);
}

input:focus{
    background-color: rgba(170, 182, 216, 0.199);
    outline: 1px solid var(--font-color);
}

#login-button{
    background-color: var(--title-color);
    border-radius: 5px;
    border: none;
    color: white;
    margin: 0px 0px;
    width: 85%;
    height: 40px;
    font-size: 1.3em;
    transition-duration: 300ms;
}

#login-button:hover{
    cursor: pointer;
    transform: scale(105%);
}

#aviso{
    color: rgb(172, 31, 31);
}

